/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
    font-family: 'PoetsenOneRegular';
    src: url('../fonts/poet/PoetsenOneRegular.eot');
    src: url('../fonts/poet/PoetsenOneRegular.eot') format('embedded-opentype'),
         url('../fonts/poet/PoetsenOneRegular.woff2') format('woff2'),
         url('../fonts/poet/PoetsenOneRegular.woff') format('woff'),
         url('../fonts/poet/PoetsenOneRegular.ttf') format('truetype'),
         url('../fonts/poet/PoetsenOneRegular.svg#PoetsenOneRegular') format('svg');
}


@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/got/GothamMedium.eot');
    src: url('../fonts/got/GothamMedium.eot') format('embedded-opentype'),
         url('../fonts/got/GothamMedium.woff2') format('woff2'),
         url('../fonts/got/GothamMedium.woff') format('woff'),
         url('../fonts/got/GothamMedium.ttf') format('truetype'),
         url('../fonts/got/GothamMedium.svg#GothamMedium') format('svg');
}






@color-base1:#ff9000; 
@color-base2:#378936; 
@color-facebook:#50629b;
@color-wazap:#4dc247;

.transicion {
	-webkit-transition: all .5s;
  	transition: all .5s;
  	-o-transition: all .5s;
  	-moz-transition: all .5s;
}


.escala {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}



/*animaciones*/
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}




@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}




@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}


