body {
	background: url(../img/fondo.jpg) center top no-repeat #fff; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;


}

#superior {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	padding: 11px 0px;
}




.contenedor-interno {
	margin: 0 15px;
	font-family: PoetsenOneRegular !important;


	@media (min-width: 992px) {
		width: 980px;
		margin: 0 auto 0;
	}



	.boton-superior {
		float: right;
		border-radius: 5px;
		padding:6px 13px;
		color: #fff;
		border:none;
		margin-left: 10px;

		p, i {
			float: left;
		}

		i {
			margin-top: 3px;
		}

		p {
			margin-left: 10px;
			margin-bottom: 0px;
			display: none;

			@media (min-width: 600px) {
				display: block;
			}
		}
	}



	.tyc-superior {
		background: @color-base2;
	}


	.facebook-boton {
		background:@color-facebook;
	}

	.whatsapp-boton {
		background:@color-wazap;
		display: block;

		@media (min-width: 600px) {
			display: none;
		}
	}



}




#contenedor-principal {
	margin-top: 52px;
	font-family: PoetsenOneRegular !important;


	.logo-q {
		padding: 0px;
		

		img {
			width: 15%;
			@media (min-width: 768px) {
				width: 100%;
				
			}
		}
	}

	

	.cp-superior {

		margin-top: 12px;
		margin: 12px 0px 0 0px;

		@media (min-width: 992px) {
		
			
		}
	}
	


	
	.titulo {
		text-align: center;
		margin: 0 0 12px 0;

		@media (min-width: 768px) {
			
		}

	}

	.logo-campania {
		padding: 0px;

		img {
			padding: 0 5px;
			width: 75%;

			@media (min-width: 768px) {
				width: 50%;
			}
			

			@media (min-width: 992px) {
				width: 60%;
			}


			
		}

		.in-home {
			@media (min-width: 992px) {
				width: 100% !important;
			}
		}
	}

	.enunciado-principal {
		padding: 0px;
		margin-top: 13px;

		@media (min-width: 768px) {
			margin-top: 37px;
		}

		.parrafo {
			text-align: center;
			color: white;
			line-height: 32px;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
			-webkit-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
			-moz-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
			-ms-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
			-o-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
		}


		.parrafo1 {
			font-size: 23px;
			margin-bottom: 0;

			span {
				font-size: 28px;
			}
		} 
			


		.parrafo2 {
			font-size: 22px;
			margin: 0px;
		}

		.parrafo3 {
			margin: 0px;
		}

		

	}

	.premios-principal {
		padding: 0px 5px;
		display: none;
		
		@media (min-width: 768px) {
			display: block;
		}
	}









	.cp-inferior {
		padding: 0px;
		overflow: hidden;
	

		.margen-inferior {
			margin-bottom: 0px;
		    overflow: initial;
		    padding-bottom: 10px;
		    padding-top: 16px;

			

			@media (min-width: 768px) {
				overflow: hidden;
			}

		}

		.contenedor-personaje {
			width: 50%;
			float: left;
			position: relative;
			padding: 0 15px;	
			margin-bottom: 30px;

			
			@media (min-width: 480px) {
				// width: 20%;
				// padding: 0 12px;
				padding: 0 40px;
				margin-bottom: 30px;
			}

			@media (min-width: 768px) {
				width: 20%;
				padding: 0 12px;
			}


			.imagen-personaje {
				cursor: pointer;

				img {
					.transicion();
				}

				&:hover {
					

					img {
						.escala();
					}
				}
			}
		}


		.boton-personaje {
			-webkit-box-shadow: 2px 4px 6px -1px rgba(0,0,0,0.55);
			-moz-box-shadow: 2px 4px 6px -1px rgba(0,0,0,0.55);
			box-shadow: 2px 4px 6px -1px rgba(0,0,0,0.55);
		}






		.op-gen {
			width: 100%;
			position: relative;

			.seleccionados {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 70%;
				height: 100%;
				opacity: 0;
				margin: 0 15%;
				cursor: pointer;
				z-index: 1000;
			}

			.boton-votar {
				width:100px;
				text-align: center;
				margin: 0 auto 0;
				display: table;
				background: @color-base1;
				border:none;
				border-radius: 5px;
				.transicion();
				

				p {
					color: #fff;
				    font-size: 23px;
				    padding: 5px 0;
				    margin: 0px;
				}
			}

			.seleccionado-accion + .boton-votar{
				background: red;
				.escala();
			}
		}


		.texto-enunciado {
			color: #fff;
			text-align: center;
			margin: 20px 0 ;
			font-size: 52px;
			text-shadow: 3px 3px 4px rgba(102, 102, 102, 0.8);	
			line-height: 68px;	

			@media (min-width: 768px) {
				margin: 17px 0;
				font-size: 72px;
			}
		}


		.texto-enunciado-bajada {
			color: #fff;
			text-align: center;
			margin: -15px 0 20px 0;
			font-size: 32px;
			text-shadow: 2px 1px 2px rgb(255, 255, 255);	
			line-height: 45px;	
			color: @color-base2;

			@media (min-width: 768px) {
				margin: -40px 0 20px 0;
				
			}
		}


		.reseteo {
			color: #fff;
			margin: 50px 0 70px 0;
			text-shadow: 3px 3px 4px rgba(102, 102, 102, 0.8);
		}





	}


	.contenedor-legal {
		font-family: GothamMedium !important;
		clear: both;
		margin: 0 auto 8px;
		display: table;
		font-size: 12px;
		opacity: 0.8;
		padding-top: 7px;

		a {
			color: #fff;
			float: left;
		}

		p {
			color: #fff;
			margin-left: 5px;
			float: left;
		}
	}


	.compartir-interna {
		display: table;
		margin:0 auto 20px;
		font-size: 30px;

		i {
			margin-top: 6px;
			margin-bottom: 5px;
		}
		
		.txt-compartir-redes {
			color: #fff;
			text-shadow: 3px 3px 4px rgba(102,102,102,.8);
			-moz-text-shadow: 3px 3px 4px rgba(102,102,102,.8);
			-ms-text-shadow: 3px 3px 4px rgba(102,102,102,.8);
			-webkit-text-shadow: 3px 3px 4px rgba(102,102,102,.8);
			-o-text-shadow: 3px 3px 4px rgba(102,102,102,.8);
			text-align: center;
		}
	}



	

	.ir-formulario {
		margin:0 auto 0;
		display: table;
		background-color: @color-base2;
		border: none;
		margin-bottom: 10px;
		box-shadow: 2px 4px 6px -1px rgba(0,0,0,.55);
		-webkit-box-shadow: 2px 4px 6px -1px rgba(0,0,0,.55);
		-moz-box-shadow: 2px 4px 6px -1px rgba(0,0,0,.55);
		-ms-box-shadow: 2px 4px 6px -1px rgba(0,0,0,.55);
		-o-box-shadow: 2px 4px 6px -1px rgba(0,0,0,.55);
		border-radius: 5px;

		a {
			color: #fff;
			font-size: 18px;
			padding: 12px 18px;
    		display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}


}





#formulario {
	width: 100%;
	background-color: #1c1c1c;
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 1000;
	position: relative;

	.contenedor-formulario {
		font-family: GothamMedium !important;
	}

	.caja-form {
		margin-bottom: 32px;
		
		label {
			color: #fff;
			display: block;
			font-size: 15px;
		}

		.data-usuario {
			width: 100%;
		    border-radius: 2px;
		    border: 1px solid #ddd;
		    height: 40px;
		    padding: 0 5px;
		}




		.btn-data-usuario {
			width: 100%;
		    border-radius: 2px;
		    border: 1px solid #ddd;
		    height: 40px;
		    padding: 0 5px;
		    background-color: @color-base1;
		   	border: none;
			color: #fff;
			font-size: 22px;
			margin-top: 26px;

			p {
				margin: 0px;
			}
		}
	}


	#informacion, #titular {
		margin-left: 0px;
	}

	.aceptar-campos{
		margin-top: -20px;
		color:#fff;
	}
}





/*ESTILOS PARA VIDEO*/

.contenedor-video {
	width: 70%;
    left: 35%;
    position: absolute;
    top: 20%;
    margin-left: -17.5%;


    @media (min-width: 992px) {
    	width: 50%;
    	left: 50%;
    	margin-left:-25%;
    }






    .personaje-video {
    	position: absolute;
    	top: 0px;
    	left: 0px;
    	z-index: 10000;

    	img {
    		width: 27%;
    		margin-left: -15%;
    		margin-top: -17%;
    		

    		@media (min-width: 992px) {
 				width: 35%;
	    		margin-left: -22%;
	    		margin-top: -22%;  
	    	}
    	}
    }

}

.modal-video {

	 .close {
		opacity: 1;
	    padding: 14px;
	    font-size: 37px;
	    color: @color-base1;
	    text-shadow: none;

	    &:hover {
	    	color: @color-base1;
	    	opacity: 1;
	    }
	}



	.parar-video {
		// background: red;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: pointer;
	}


}







.parche {
	background: white;
    position: absolute;
    /* top: 0px; */
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 500;
    height: 90px;
    /* height: 100%; */
    display: none;
}