footer {
	margin-top:0px;
	font-family:Arial, Helvetica, sans-serif !important;
	padding-bottom:20px;
	line-height: 1.42857143;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 1000;
}


.info-concurso {
	font-style:italic;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#031c31+0,031c31+100&1+0,0+100 */
	background: -moz-linear-gradient(top, rgba(3,28,49,1) 0%, rgba(3,28,49,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(3,28,49,1) 0%,rgba(3,28,49,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(3,28,49,1) 0%,rgba(3,28,49,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c31', endColorstr='#00031c31',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
	text-align:center;
	font-size:13px;
	padding:14px 0 26px 0;
	position: relative;
}

.info-concurso a {
	color:#fff;
	font-weight:bold;
	padding:3px 8px;
}

.info-concurso a:hover{
	text-decoration:none;
}

#footer-wrapper {
	
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 0;

	@media (min-width: 992px) {
		width: 980px;
	}
}

.logoscrp{
	display: table;
	width: 100%;
}

.logoscrp li.logoradios {
	display: table-cell;
	width: 10%;
	padding: 0 12px;
}

.logoradios a img {
	width: auto;

}


.logo-crp, .logo-crp img {
	width: 100%;
}

.TYC {
	text-align: center;
	padding-left: 10px;
	font-size: 13px;
	padding-top: 15px;
	margin-bottom:10px;
}

.copyright {
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	color: #b3b3b3;
}


@media (max-width: 991px) and (min-width: 768px) {

	.logoscrp {
	    display: none;
	}
}


@media (max-width: 767px) and (min-width: 480px) {

	.logoscrp {
	    display: none;
	}
}


@media (max-width: 479px) and (min-width: 0px) {
	.logoscrp {
	    display: none;
	}
}


/*bosstrap reset*/

@media (max-width: 480px) {
	.col-xs-10 {
		width: 100% !important;
	}

	.col-xs-offset-1 {
		margin: 0 !important;
	}
}