.error{
	background-color: #e33618;
    padding: 7px 12px;
    border-radius: 4px;
    border: #f7ba03 1px solid;
    color: #ffffff;
    margin-left: 6px;
    margin-top: 8px;
    position: absolute;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    z-index: 1000;

    bottom: 0px;
    left: 50%;
    margin-left: -25%;

}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid #e33618;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    /*left: -16px;*/
    position: absolute;
    top: -16px;
}
